<h1> Your Consultations </h1>

<div>
	<%= month_calendar events: @consultations do |date, consultations| %>
	  <%= date %>

	  <% consultations.each do |consultation| %>
	    <div>
	    	<button class="link-button" value="<%= consultation.id %>"><%= get_patient_name(consultation.user_id) %></button>
	    </div>

	    <div id="consultation-<%= consultation.id%>" class="patient-records">
	    	<h3><%= get_patient_name(consultation.user_id) %></h3>
			<p><%= consultation.date_and_time.strftime("%m/%d/%y at %l:%M %p") %></p>
			<p><%= consultation.service %></p>
			<p><%= consultation.discipline %></p>
		</div>
	  <% end %>
	<% end %>

</div>

<script>
	var consultationID;
	$('.link-button').click(function(){
		consultationID = $(this).val();
		$('#consultation-'+consultationID).toggle();
	})
</script>