<h1> Your Consultations </h1>

<div>
	<% @consultations.each do |consultation| %>
		<div>
			<h4>Consultation date</h4> <%= consultation.date %>
			<h4>Consultation time</h4> <%= consultation.start_time %>
			<h4>Patient</h4>
			<%= link_to profile_path(consultation.user_id) do%>
				<%= get_patient_name(consultation.user_id) %>
			<% end %>
			<h4>Tool</h4> <%= consultation.tool %>
		</div>
		<div>
			<% if consultation.tool == "In-app call" %>
				<%= link_to "Start Consultation", consultation_path(consultation, :user_id => consultation.user_id)%>
			<% end %>
		</div>
		<p><%= link_to "accept", doctors_path %></p>
		<p><%= link_to "reject", doctors_path %> </p>
	<% end %>
</div>