<h1> Your Consultations </h1>

<div>
	<%= month_calendar events: @consultations do |date, consultations| %>
	  <%= date %>

	  <% consultations.each do |consultation| %>
	    <div class="patient-appointment">
	    	<%= consultation.time.strftime("%H:%M") %> <button class="link-button" value="<%= consultation.id %>"><%= get_patient_name(consultation.user_id) %></button>
	    </div>

	    <div id="consultation-<%= consultation.id%>" class="patient-records">
			<p><%= consultation.discipline %></p>
			<p><%= consultation.service %></p>
			<% if !consultation.status %>
				<p><span><%=link_to "approve", accept_consultation_path(consultation.id), method: :post %></span>  <span><%= link_to "reject", reject_consultation_path(consultation.id), method: :post %></span></p>
				<p>
			<% elsif consultation.status && consultation.tool == "Video call" && consultation.date_and_time.today? %>
				<%= link_to "Start Consultation", consultation_path(consultation, :user_id => consultation.user_id)%>
			<% elsif consultation.status && consultation.tool == "Video call" %>
				<p>Video call on day of consultation</p>
			<% else %>
				<p>Begin the consultation using the desired method</p>
			<% end %>
			</p>
		</div>
	  <% end %>
	<% end %>

</div>

<script>
	var consultationID;
	$('.link-button').click(function(){
		consultationID = $(this).val();
		$('#consultation-'+consultationID).toggle();
	})
</script>