<div class="col-md-12">

	<h3> User review for <a href="profile/<%= @review_user_id %>"><%= get_patient_name @review_user_id %></a></h3>

	<% @review.attributes.each do |attr_name, attr_value| %>
		<% unless attr_name.eql?('id') || attr_name.eql?('review') %>
			<div class="panel panel-body">
				<%= attr_name %>: <%= attr_value %>
			</div>
		<% end %>
	<% end %>
	
	<div class="panel panel-body">
		<%= link_to "Go Back", patient_reviews_path, :class => "btn btn-primary" %>
	</div>
</div>