<div>
	<%= form_for @conversation, url: conversations_path, method: :post do |f| %>

		<div class="form-group">
			<%= f.label "Message Recipient", :class => "control-label" %>
			<div>
				<% if @message_to_doctor %>
					<%= f.select :recipient_id, @doctors.collect {|d| [ d.title + " " + d.first_name + " " + d.last_name, d.id ] }, :class => "form-control", required: true %>
				<% else %>
					<%= f.select :recipient_id, @patients.collect {|pa| [ pa.first_name + " " + pa.last_name, pa.id ] }, :class => "form-control", required: true %>
				<% end %>
				
				<%= f.hidden_field :recipient_class, value: @recipient_class %>
				<%= f.hidden_field :sender_class, value: @sender_class %>
				<%= f.hidden_field :sender_id, value: @sender_id %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label "Message Body", :class => "control-label" %>
			<div>
				<textarea name="body" style="height: 100px; width: 300px"></textarea>
			</div>
		</div>

		<div class="form-group">
			<%= f.label "Upload Attachment", :class => "control-label" %>
			<%= f.file_field :image, :class => "form-control" %>
		</div>

		<%= f.submit "Create Conversation", :class => "btn btn-primary" %>

	<% end %>
</div>