<div style="margin-bottom: 1em">
	<%= link_to "<< messages", conversations_path %>
</div>

<div style="margin-bottom: 2em">
	<% if @conversation.sender_class == "Patient" %>
		<h2><a href="/doctor_profile/<%= @conversation.recipient_id %>"><%= get_doctor_name @conversation.recipient_id %></a></h2>
	<% else %>
		<h2><a href="/profile/<%= @conversation.recipient_id %>"><%= get_patient_name @conversation.recipient_id %></a></h2>
	<% end %>
</div>

<div>
	<%= form_for [@conversation, @message], html: {:class => "ui reply form"}, url: conversation_messages_path(@conversation), method: :post do |f| %>

		<div class="form-group">
			<%= f.text_area :body, :class => "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label "Upload Attachment", :class => "control-label" %>
			<%= f.file_field :image, :class => "form-control" %>
		</div>

		<% if doctor_signed_in? %>
			<%= f.hidden_field :user_class, value: "Doctor" %>
			<%= f.hidden_field :user_id, value: current_doctor.id %>
		<% elsif user_signed_in? %>
			<%= f.hidden_field :user_class, value: "Patient" %>
			<%= f.hidden_field :user_id, value: current_user.id %>
		<% end %>

		<div class="form-group">
	   		<%= f.submit "Send", :class => "btn btn-primary" %>
	   	</div>

	<% end %>
</div>

<div>
	<ul class="conversation">
		<% @messages.each do |message| %>
				<% if message.user_class == "Doctor" %>
					<li class="doctor-message">
						<p><u><%= get_sender_first_name message %></u></p>
						<p><%= message.body %></p>
						<%= image_tag message.image.url(:medium), :class => "message-image" if message.image.file? %>
						<h6><%= message.created_at.strftime("%m/%d/%y at %l:%M %p") %></h6>
					</li>
				<% elsif message.user_class == "Patient" %>
					<li class="patient-message">
						<p><u><%= get_sender_first_name message %></u></p>
						<p><%= message.body %></p>
						<%= image_tag message.image.url(:medium), :class => "message-image" if message.image.file? %>
						<h6><%= message.created_at.strftime("%m/%d/%y at %l:%M %p") %></h6>
					</li>
				<% end %>
		<% end %>
	</ul>
</div>

<script>
	$(function (){
		var toggle = false;
    	$('.message-image').on('click', function ()
    	{	
    		toggle = !toggle;
        	toggle ? $(this).attr('width', '500') : $(this).attr('width', '300');
    	});
	});
</script>