<div>
	<%= link_to "admin home", admin_path, :class => "admin-home" %>
</div>

<div>
	<% @cards.each do |card| %>
		<div class="panel panel-body">
			<a href=<%= card.link %>>
				<img src=<%= card.image %> class="card-image" />
				<h3><%= card.title %></a></h3>
			</a>
			<p><%= card.body %></p>
			<br>
			<p><%= link_to "edit card", edit_card_path(card) %></p>
			<p><%= link_to "delete card", card_path(card), method: :delete, data: { confirm: "Are you sure?" } %></p>
		</div>
	<% end %>
</div>

<style>
  #activity-wrapper {
    display: none;
  }
</style>