<!-- this is in home/index.html.erb as well -->

<div>
	<h1>Welcome, Admin</h1>

	<h4><%= link_to "Notifications (#{@admin_notifications_count})", admin_notifications_path %></h4>
	<br>
	<p><%= link_to "Verify Health Professionals", verify_doctors_path %></p>
	<p><%= link_to "Products", admin_plans_path %></p>
	<p><%= link_to "Product Categories", admin_product_categories_path %></p>

	<p><%= link_to "View Patients", admin_patients_view_path %></p>
	<p><%= link_to "View Health Professionals", admin_doctors_view_path %></p>

	<p><%= link_to "Clinics", clinics_path %></p>
	<p><%= link_to "Cards", cards_path %></p>

	<p><%= link_to "Pending Insurance Payments", admin_insurance_path %></p>

	<p><%= link_to "Clinic Rentals", admin_clinic_rentals_path %></p>

	<p><%= link_to "Admin Sign Out", destroy_admin_session_path, method: :delete %></p>
</div>

<style>
  #activity-wrapper {
    display: none;
  }
</style>