<!-- this is in home/index.html.erb as well -->

<div>
	<h1>Welcome, Admin</h1>

	<p><%= link_to "Verify Doctors", verify_doctors_path %></p>
	<p><%= link_to "Products", admin_plans_path %></p>

	<p><%= link_to "View Patients", admin_patients_view_path %></p>
	<p><%= link_to "View Doctors", admin_doctors_view_path %></p>

	<p><%= link_to "Clinics", clinics_path %></p>
	<p><%= link_to "Cards", cards_path %></p>

	<p><%= link_to "Pending Insurance Payments", admin_insurance_path %></p>

	<p><%= link_to "Admin Sign Out", destroy_admin_session_path, method: :delete %></p>
</div>

<style>
  #activity-wrapper {
    display: none;
  }
</style>