<div>
	<%= link_to "admin home", admin_path, :class => "admin-home" %>
</div>

<h2>Marketplace Items</h2>

<%= link_to "add product", new_plan_path %>

<div class="row">
	<div class="panel panel-default">
		<% @plans.each do |plan| %>
			<div class="panel-body col-md-4">
				<img src=<%= plan.image.url(:medium) %>/>
				<h4><%= plan.title %></h4>
				<h5><%= plan.category %></h5>
				<p><%= plan.description %></p>
				<p>₦<%= plan.price %></p>
			</div>
		<% end %>
	</div>
</div>

<style>
  #activity-wrapper {
    display: none;
  }
</style>