<h1> Your Consultations </h1>

<div>
	<%= month_calendar events: @consultations do |date, consultations| %>
		<%= date %>

		<% consultations.each do |consultation| %>
		    <div class="patient-appointment">
		    	<%= consultation.time.strftime("%H:%M") %> <button class="link-button" value="<%= consultation.id %>"><%= get_doctor_name(consultation.doctor_id) %></button>
		    </div>

		    <div id="consultation-<%= consultation.id%>" class="patient-records">
				<p><%= consultation.discipline %></p>
				<p><%= consultation.service %></p>
			</div>

		<% end %>

	<% end %>

</div>

<script>
	var consultationID;
	$('.link-button').click(function(){
		consultationID = $(this).val();
		$('#consultation-'+consultationID).toggle();
	})
</script>