<div class="consultation center">

	<%= form_for @consultation, url: consultation_index_path do |f| %>

		<h2>Book a consultation</h2>

		<div class="form-group">
			<%= f.label "Choose a consultation type", :class => "control-label" %>
			<%= f.select :tool, ["Video Call", "Clinic Visit", "Home Visit"], :class => "form-control" %>
		</div>

		<div class="form-group address-box">
			<%= f.label "Your Address", :class => "control-label" %>
			<%= f.text_area :address, :class => "form-control" %>
		</div>

		<div class="form-group clinic-options">
			<%= f.label "Preferred Clinic", :class => "control-label" %>
			<%= f.select :clinic_id, @clinics.collect {|c| [ c.name + " " + c.address, c.id ] }, :class => "form-control", required: true, :class => "form-control", required: true %>
		</div>

		<% if @specialization == nil %>
			<div class="form-group">
				<%= f.label "Specialization", :class => "control-label" %>
				<%= f.select :service, ["Clinical", "Non-Clinical"], :class => "form-control" %>
			</div>
		<% else %>
			<div class="form-group">
				<%= f.hidden_field :service, value: @specialization %>
			</div>
		<% end %>

		<div class="form-group">
			<%= f.label "Pick a date", :class => "control-label" %>
			<%= f.text_field :date, :id => "datepicker", :class => "form-control", required: true %>
		</div>

		<div class="form-group">
			<%= f.label "Pick a time to start", :class => "control-label" %>
			<%= f.time_select :time, {minute_step: 15, ampm: true}, :class => "form-control", required: true %>
		</div>

		<div class="form-group">
			<%= f.label "What complaints do you have (reason for booking consultation)? Please be as detailed as you can.", :class => "control-label" %>
			<%= f.text_area :user_notes, :class => "form-control", required: true, placeholder: "This is a required field" %>
		</div>

		<div class="form-group">
			<%= f.label "Choose an available professional", :class => "control-label" %>
			<%= f.select :professional, @doctors.collect {|d| [ d.title + " " + d.first_name + " " + d.last_name + " (" + d.specialty + ")", d.id ] }, :class => "form-control", required: true %>
		</div>

		<div class="form-group">
			<%= f.label "Which payment method would you prefer", :class => "control-label" %>
			<%= f.select :payment_method, ["Pay With Card", "Doctoora Wallet", "Insurance", "Pay In Clinic"], :class => "form-control" %>
		</div>

		<div class="form-group insurance-providers">
			<%= f.label "Insurance Provider", :class => "control-label" %>
			<%= f.select :insurance_provider, @insurance_providers, :class => "form-control" %>
		</div>

		<%= f.submit "Continue", :class => "btn btn-primary", data: { confirm: "Are you sure you want to create this consultation?" } %>

	<% end %>

</div>

<script>
	var professionalType;

	$("#datepicker").datepicker({
    	format: "dd/mm/yyyy",
    	startDate: '0'
    });
    $('#consultation_service').change(function(){
    	professionalType = $(this).val();
    })

    $('#consultation_tool').change(function(){
    	if($(this).val() == 'Home Visit'){
    		$('.address-box').css('display', 'block');
    		$('.clinic-options').css('display', 'none');
    	} else if($(this).val() == 'Clinic Visit'){
    		$('.address-box').css('display', 'none');
    		$('.clinic-options').css('display', 'block');
    	} else {
    		$('.address-box').css('display', 'none');
    		$('.clinic-options').css('display', 'none');
    	}
    });

    $('#consultation_payment_method').change(function(){
    	if($(this).val() == 'Insurance'){
    		$('.insurance-providers').css('display', 'block');
    	} else {
    		$('.insurance-providers').css('display', 'none');
    	}
    })

</script>
