<div id="activity-wrapper">
	<h3>RECENT ACTIVITY</h3>
	<div class="notification">
		<ul>
			<% if user_signed_in? && current_user.notifications.length > 0 %>
				<% current_user.notifications.reverse.each do |notification| %>
					<li>
						<img src="<%= get_doctor_avatar(notification.doctor_id) %>" class="notification_image"/>
						<p><a href="<%= notification.link %>"><%= notification.notification + " " + get_doctor_name(notification.doctor_id) %></a></p>
						<p><%= time_ago_in_words(notification.created_at) %> ago <%= link_to noted_path(notification), method: :post do %><i class="glyphicon glyphicon-remove-circle"></i><% end %></p>
					</li>
				<% end %>
			<% elsif doctor_signed_in? && current_doctor.notifications.length > 0 %>
				<% current_doctor.notifications.reverse.each do |notification| %>
					<li>
						<img src="<%= get_doctor_avatar(notification.doctor_id) %>" class="notification_image"/>
						<p><a href="<%= notification.dr_link %>"><%= notification.dr_notification_msg + " " + get_patient_name(notification.user_id) %></a></p>
						<p><%= time_ago_in_words(notification.created_at) %> ago <%= link_to noted_path(notification), method: :post do %><i class="glyphicon glyphicon-remove-circle"></i><% end %></p>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>

<!-- <script>
	var notedId;
	$('.glyphicon-remove-circle').click(function(event){
		event.preventDefault();
		$(this).parents('li').remove();
		console.log(JSON.parse($(this).attr('name')));
		$.ajax({
			url: '/notification/23/noted',
			type: 'put'
		});
	})
</script> -->