<% doctor = current_doctor %>

<% if doctor.verified %>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <% if doctor.available %>
                    <%= form_for doctor, url: toggle_availability_path(doctor), method: :put do |f| %>
                        <% f.submit "Status: Available", :class => "btn btn-success btn-block", :id => "toggle-off" %>
                    <% end %>
                <% else %>
                    <%= form_for doctor, url: toggle_availability_path(doctor), method: :put do |f| %>
                        <% f.submit "Status: Unavailable", :class => "btn btn-danger btn-block toggle-btn", :id => "toggle-on" %>
                    <% end %>
                <% end %>
            </li>
            <li>
            	<a href="/" class="selected icon-home">
                    <img src="<%= asset_path( 'icons/home.svg' ) %>" class="sidebar-icon" /><p>HOME</p>
                </a>
            </li>
            <li id="sidebar-image">
                <%= link_to doctor_profile_path(doctor.id) do %>
                    <%= image_tag doctor.avatar.url(:medium), :class => "profile-image" %>
                <% end %>
                <p>Welcome <%= doctor.title %> <%= doctor.first_name %></p>
            </li>
            <li>
                <img src="<%= asset_path( 'icons/profile.svg' ) %>" class="sidebar-icon" />
                <%= link_to "Profile", doctor_profile_path(doctor.id) %>
            </li>
            <li>
                <img src="<%= asset_path( 'icons/Topics.svg' ) %>" class="sidebar-icon" />
                <%= link_to "Rent Clinic", view_clinics_path %>
            </li>
            <li>
                <img src="<%= asset_path( 'icons/Topics.svg' ) %>" class="sidebar-icon" />
                <%= link_to "Appointments", doctor_consultation_index_path %>
            </li>
            <li>
                <% if unread_messages? %>
                    <img src="<%= asset_path( 'icons/message-with-notification.svg' ) %>" class="sidebar-icon" />
                    <%= link_to "Messages", conversations_path %>
                <% else %>
                    <img src="<%= asset_path( 'icons/message.svg' ) %>" class="sidebar-icon" />
                    <%= link_to "Messages", conversations_path %>
                <% end %>
            </li>
            <li>
                <img src="<%= asset_path( 'icons/Family.svg' ) %>" class="sidebar-icon" />
                <%= link_to "Patients", patient_reviews_path %>
            </li>
            <li>
                <img src="<%= asset_path( 'icons/careteam.svg' ) %>" class="sidebar-icon" />
                <%= link_to "Care Team", doctor_care_team_path(doctor) %>
            </li>
            <li>
                <img src="<%= asset_path( 'icons/careteam.svg' ) %>" class="sidebar-icon" />
                <%= link_to "Wallet", wallet_path(doctor) %></h3>
            </li>
        
            <div id="refer">
            	<li>
            		<img src="<%= asset_path( 'icons/refer.svg' ) %>" class="sidebar-icon" />
                    <%= link_to "Refer Someone", refer_path %>
            	</li>
            </div>

            <div id="glyphs">
                <% if doctor_signed_in? %>
                	<li><%= link_to destroy_doctor_session_path, method: :delete do%>
                        <img src="<%= asset_path( 'icons/logout.png' ) %>" class="sidebar-icon" />
                    <% end %>   
                    </li>
                <% end %>
            	<li><a href="https://www.doctoora.com/contact-us" target="_blank"><img src="<%= asset_path( 'icons/faq.png' ) %>" class="sidebar-icon" /></a>
                </li>
            </div>
        </ul>
    </div>
<% else %>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a href="/" class="selected icon-home">
                    <img src="<%= asset_path( 'icons/home.svg' ) %>" class="sidebar-icon" /><p>HOME</p>
                </a>
            </li>
            <li id="sidebar-image">
                <%= link_to doctor_profile_path(doctor.id) do %>
                    <%= image_tag doctor.avatar.url(:medium), :class => "profile-image" %>
                <% end %>
                <p>Welcome <%= doctor.title %> <%= doctor.first_name %></p>
            </li>
            <li>
                <img src="<%= asset_path( 'icons/profile.svg' ) %>" class="sidebar-icon" />
                <%= link_to "Professional Profile", doctor_profile_path(doctor.id) %>
            </li>
            <div id="refer">
                <li>
                    <img src="<%= asset_path( 'icons/refer.svg' ) %>" class="sidebar-icon" />
                    <%= link_to "Refer Someone", refer_path %>
                </li>
            </div>

            <div id="glyphs">
                <% if doctor_signed_in? %>
                    <li><%= link_to destroy_doctor_session_path, method: :delete do%>
                        <span class="glyphicon glyphicon-off"></span>
                    <% end %>   
                    </li>
                <% end %>
                <li><i class="glyphicon glyphicon-blackboard"></i></li>
            </div>
        </ul>
    </div>
<% end %>