<% if current_doctor.verified %>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
               <img src="<%= asset_path( 'icons/online.svg' ) %>" class="sidebar-icon" /><p>Status: Available</p>
            </li>
            <li>
            	<a href="/" class="selected icon-home">
                    <img src="<%= asset_path( 'icons/home.svg' ) %>" class="sidebar-icon" /><p>HOME</p>
                </a>
            </li>
            <li id="sidebar-image">
                <%= link_to doctor_profile_path(current_doctor.id) do %>
                    <%= image_tag current_doctor.avatar.url(:medium), :class => "profile-image" %>
                <% end %>
                <p>Welcome Dr <%= current_doctor.first_name %></p>
            </li>
            <li>
                <img src="<%= asset_path( 'icons/profile.svg' ) %>" class="sidebar-icon" />
                <%= link_to "Profile", doctor_profile_path(current_doctor.id) %>
            </li>
            <li>
                <img src="<%= asset_path( 'icons/Topics.svg' ) %>" class="sidebar-icon" />
                <%= link_to "Appointments", doctor_consultation_index_path %>
            </li>
            <li>
                <% if unread_messages? current_doctor.id %>
                    <img src="<%= asset_path( 'icons/message-with-notification.svg' ) %>" class="sidebar-icon" />
                    <%= link_to "Messages", conversations_path %>
                <% else %>
                    <img src="<%= asset_path( 'icons/message.svg' ) %>" class="sidebar-icon" />
                    <%= link_to "Messages", conversations_path %>
                <% end %>
            </li>
            <li>
                <img src="<%= asset_path( 'icons/Family.svg' ) %>" class="sidebar-icon" />
                <%= link_to "Patients", patient_reviews_path %>
            </li>
            <li>
                <img src="<%= asset_path( 'icons/careteam.svg' ) %>" class="sidebar-icon" />
                <%= link_to "Care Team", doctor_care_team_path(current_doctor) %>
            </li>
        
            <div id="refer">
            	<li>
            		<img src="<%= asset_path( 'icons/refer.svg' ) %>" class="sidebar-icon" />
                    <%= link_to "Refer Someone", refer_path %>
            	</li>
            </div>

            <div id="glyphs">
                <% if doctor_signed_in? %>
                	<li><%= link_to destroy_doctor_session_path, method: :delete do%>
                        <img src="<%= asset_path( 'icons/logout.png' ) %>" class="sidebar-icon" />
                    <% end %>   
                    </li>
                <% end %>
            	<li><img src="<%= asset_path( 'icons/faq.png' ) %>" class="sidebar-icon" /></li>
            </div>
        </ul>
    </div>
<% else %>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a href="/" class="selected icon-home">
                    <img src="<%= asset_path( 'icons/home.svg' ) %>" class="sidebar-icon" /><p>HOME</p>
                </a>
            </li>
            <li id="sidebar-image">
                <%= link_to doctor_profile_path(current_doctor.id) do %>
                    <%= image_tag current_doctor.avatar.url(:medium), :class => "profile-image" %>
                <% end %>
                <p>Welcome Dr <%= current_doctor.first_name %></p>
            </li>
            <li>
                <img src="<%= asset_path( 'icons/profile.svg' ) %>" class="sidebar-icon" />
                <%= link_to "Doctor Profile", doctor_profile_path(current_doctor.id) %>
            </li>
            <div id="refer">
                <li>
                    <img src="<%= asset_path( 'icons/refer.svg' ) %>" class="sidebar-icon" />
                    <%= link_to "Refer Someone", refer_path %>
                </li>
            </div>

            <div id="glyphs">
                <% if doctor_signed_in? %>
                    <li><%= link_to destroy_doctor_session_path, method: :delete do%>
                        <span class="glyphicon glyphicon-off"></span>
                    <% end %>   
                    </li>
                <% end %>
                <li><i class="glyphicon glyphicon-blackboard"></i></li>
            </div>
        </ul>
    </div>
<% end %>