<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li id="consultation-link">
            <%= link_to "Book a consultation", consultation_type_path %>
        </li>
        <li>
        	<a href="/" class="selected">
        		<i class="glyphicon glyphicon-home"></i><p id="home-link">HOME</p>
        	</a>
        </li>
        <li>
            <%= link_to profile_path(current_user.id) do %>
                <%= image_tag current_user.avatar.url(:medium), :class => "profile-image" %>
            <% end %>
            <p>Welcome <%= current_user.first_name %></p>
        </li>
        <li>
            <%= link_to "Patient Profile", profile_path(current_user.id) %>
        </li>
        <li>
            <%= link_to "Messages", conversations_path %>
        </li>
        <li>
            <a href="#">Family</a>
        </li>
        <li>
            <%= link_to "Knowledge Base", knowledgebase_path  %>
        </li>
        <li>
            <a href="#">Communities</a>
        </li>
        <li>
            <a href="#">Topics</a>
        </li>
        <li>
            <%= link_to "Care Team", care_path %>
        </li>

        <div id="refer">
        	<li>
        		<%= link_to "Refer Someone", refer_path %>
        	</li>
            <% if user_signed_in? %>
                <li><%= link_to destroy_user_session_path, method: :delete do%>
                    <span class="glyphicon glyphicon-off"></span>
                <% end %>   
                </li>
            <% else %>
                <li><%= link_to new_user_session_path do%>
                    <span class="glyphicon glyphicon-off"></span>
                <% end %>   
                </li>
            <% end %>
        </div>

        <div class="glyphs">
            <% if user_signed_in? %>
            	<li><%= link_to destroy_user_session_path, method: :delete do%>
                    <span class="glyphicon glyphicon-off"></span>
                <% end %>   
                </li>
            <% else %>
                <li><%= link_to new_user_session_path do%>
                    <span class="glyphicon glyphicon-off"></span>
                <% end %>   
                </li>
            <% end %>
        	<li><i class="glyphicon glyphicon-cog"></i></li>
        	<li><i class="glyphicon glyphicon-blackboard"></i></li>
        </div>
    </ul>
</div>