<div class="care">
	<h2> Health Professional Search </h2>
	<p>Input search criteria in order to find a health professional near you</p>
	<%= form_tag(care_path, :method => "post") do %>

		<div class="form-group">
			<%= label_tag 'location' %>
			<%= select_tag :location, options_for_select(@lgas), :class => "form-control search-form", include_blank: true %>
		</div>

		<div class="form-group">
			<%= label_tag 'specialization' %>
			<%= select_tag :specialization, options_for_select(@specialization), :class => "form-control search-form", :id => "doctor_specialization", include_blank: true %>
		</div>

		<div class="specialty-group">
			<div class="form-group non_clinical_specialty_list">
				<%= label_tag 'specialty' %>
				<%= select_tag :specialty, options_for_select(@non_clinical_specialty_list), :class => "form-control search-form", include_blank: true %>
			</div>

			<div class="form-group clinical_specialty_list">
				<%= label_tag 'specialty' %>
				<%= select_tag :specialty, options_for_select(@clinical_specialty_list), :class => "form-control search-form", include_blank: true %>
			</div>
		</div>


		<div class="form-group">
			<button type="submit" class="btn btn-primary">Search</button>
		</div>
	<% end %>
</div>

<h2> Your Care Teams </h2>

<div>
	<% @doctor_care_teams.each do |care_team| %>
		<% team = get_care_team care_team.care_team_id %>
		<% team_user_id = team.user_id %>
		<div class="panel panel-default">
			<div class="panel-body">
				<a href="/profile/<%= team_user_id %>"><h3><%= get_patient_name team_user_id %></a>'s care team</h3>
				<h4>Health Professionals in this care team</h4>
				<% team.doctor_ids.each do |id| %>
					<% doctor = get_doctor_info id %>
					<a href="/doctor_profile/<%= id %>"><h4><%= get_doctor_name id %></h4></a>
					<p><%= doctor.town %></p>
					<p><%= doctor.specialization %></p>
				<% end %>
			</div>
		</div>
	<% end %>
</div>


<h2>Pending Care Team Requests</h2>

<% if @care_team_requests.length == 0 %>
	<p> You have no pending care team requests </p>
<% end %>

<% @care_team_requests.each do |request| %>
	<% @care_team_user = get_care_team_user request.care_team_id %>
	<ul style="list-style-type: none; margin-left: -40px">
		<li>
			<div class="panel panel-default">
				<div class="panel-body">
					<h3><a href="/profile/<%= @care_team_user[:id]%>"><%= @care_team_user[:name] %></a>'s care team</h3>
					<div>
						<% team = get_care_team request.care_team_id %>
						<h4> Health Professionals in this care team</h4>
						<% team.doctor_ids.each do |id| %>
							<% doctor = get_doctor_info id %>
							<a href="/doctor_profile/<%= id %>"><h4><%= get_doctor_name id %></h4></a>
							<p><%= doctor.town %></p>
							<p><%= doctor.specialization %></p>
						<% end %>
					</div>
					<%= link_to "Accept Request", accept_care_team_request_path(request.id), method: :post %>
					<%= link_to "Reject Request", reject_care_team_request_path(request.id), method: :post %>
				</div>
			</div>
		</li>
	</ul>
<% end %>

<script>
	var c = $('.clinical_specialty_list').detach();
	var nc = $('.non_clinical_specialty_list').detach();

	if($('#doctor_specialization').val() == "Clinical"){
		$('.non_clinical_specialty_list').detach();
		$('.specialty-group').append(c);
	} else {
		$('.clinical_specialty_list').detach();
		$('.specialty-group').append(nc);
	}

	$('#doctor_specialization').change(function(){
		if($(this).val() == "Non-Clinical"){
			$('.specialty-group').append(nc);
			c = $('.clinical_specialty_list').detach();
    	} else if($(this).val() == "Clinical") {
    		$('.specialty-group').append(c);
    		nc = $('.non_clinical_specialty_list').detach();
		}
	})
</script>
