<div class="patient-container">
  <div class="patient-cards">
    <div class="pending-requests">
      <h4 class="pending-header">Appointment Requests</h4>
      <% if @appointment_requests == [] %>
        <p>You have no appointment requests.</p>
      <% else %>
        <% @appointment_requests.each do |appointment| %>
          <div class="req-container">
            <div class="date-time">
              <p><b><%= appointment.date_and_time.to_date.to_formatted_s(:long) %></b></p>
              <p><b><%= appointment.date_and_time.strftime("%I:%M %p") %></b></p>
            </div>
            <div class="info">
              <p><b><%= get_doctor_name appointment.professional %></b>(<span><%= appointment.tool %></span>)</p>
              <p><%= appointment.user_notes %></p>
              <p class="consultation-delete"><%= link_to "Cancel Request", consultation_path(appointment), method: :delete, data: { confirm: "Are you sure you want to cancel this consultation request?" }, :class => "consultation-delete-link reject" %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="today-app">
      <h4 class="today-header">Today's Appointments</h4>
      <% if @upcoming_appointments == [] %>
        <p>You have no upcoming appointments.</p>
        <a href="/consultation/type" class="btn btn-default">Book a consultation today</a>
    <% else %>
      <% @upcoming_appointments.each do |appointment| %>
        <div class="today-container">
          <div class="date-time">
            <p><b><%= appointment.date_and_time.to_date.to_formatted_s(:long) %></b></p>
            <p><b><%= appointment.date_and_time.strftime("%I:%M %p") %></b></p>
            <h3></h3>
          </div>
          <div class="info">
            <p><b><%= get_doctor_name appointment.professional %></b>(<span><%= appointment.tool %></span>)</p>
            <p><%= appointment.user_notes %></p>
            <p class="consultation-delete"><%= link_to "Cancel Appointment", consultation_path(appointment), method: :delete, data: { confirm: "Are you sure you want to delete this consultation?" }, :class => "consultation-delete-link reject" %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="past-app">
    <h4 class="past-header"> Past Appointments</h4>
  <% if @past_appointments == [] %>
    <p>You have no past appointments. <a href="/consultation/type">Book your first consultation on Doctoora today</a></p>
  <% else %>
      <% @past_appointments.each do |appointment| %>
        <div class="past-container">
          <div class="date-time">
            <p><b><%= appointment.date_and_time.to_date.to_formatted_s(:long) %></b></p>
            <p><b><%= appointment.date_and_time.strftime("%I:%M %p") %></b></p>
          </div>
          <div class="info">
            <p><b><%= get_doctor_name appointment.professional %></b>(<span><%= appointment.tool %></span>)</p>
            <% if appointment.doctor_reviews.empty? %>
              <%= link_to "Review Consultation", new_doctor_review_path(appointment.doctor_id, appointment.id), :class => "consultation-delete-link" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'cards' %>
