<% if user_signed_in? %>
	<div class="col-md-8">
		<div>
			<h4>Trending in the health communities you follow...</h4>
			<div style="width: 100%; padding-bottom: 25%" class="slider" data-simple-slider>
				<img src="https://unsplash.it/640/160?random=1"/>
				<img src="https://unsplash.it/640/160?random=2"/>
				<img src="https://unsplash.it/640/160?random=3"/>
			</div>
		</div>

		<div class="form">
			<form class="search-form">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Tell us your symptoms">
		        </div>
		        <button type="submit" class="btn btn-primary">Talk to a doctor >> </button>
		    </form>
		</div>
	</div>
	
	<div class="col-md-4">
		<%= render "shared/activity_sidebar" %>
	</div>
	
	<script>
		simpleslider.getSlider();
	</script>
<% elsif doctor_signed_in? %>
	<% if !current_doctor.verified %>
		<div>
			<p>Your application is being verified and you will be notified soon.</p>

			<p><%= link_to "view profile", doctor_profile_path(current_doctor) %></p>
			<p><%= link_to "edit certificates", doctor_onboarding_new_upload_documents_path %></p>
		</div>
	<% end %>
<% else %>
	<div class="col-md-4">
		<div>
			<img src="/logo.png" id="home-logo"/>
		</div>
		<%= link_to "Log in as a patient", new_user_session_path, :class => "access-link" %><br />
		<%= link_to "Log in as a doctor", new_doctor_session_path, :class => "access-link" %><br />
		<%= link_to "Sign up as a patient", new_user_registration_path, :class => "access-link" %><br />
		<%= link_to "Sign up as a doctor", new_doctor_registration_path, :class => "access-link" %><br />
	</div>
<% end %>