<% if user_signed_in? %>
	<div class="row">
		<h1> Upcoming Appointments <span style="font-size: 14px"><%= link_to "(view your calendar)", consultation_index_path %></span></h1>
		<% if @upcoming_appointments == [] %>
			<p>You have no upcoming appointments. <a href="/consultation/type">Book a consultation
			today</a></p>
		<% else %>
			<div class="row">
				<% @upcoming_appointments.each do |appointment| %>
					<div class="panel panel-default col-md-6">
						<div class="panel-heading">
							<h3><%= appointment.tool %></h3>
						</div>
						<div class="panel-body">
							<p><b>Doctor:</b> <%= get_doctor_name appointment.professional %></p>
							<p><b>Date: </b><%= appointment.date_and_time.to_date.to_formatted_s(:long) %></p>
							<p><b>Time: </b><%= appointment.date_and_time.strftime("%I:%M %p") %></p>

							<p class="consultation-delete"><%= link_to "cancel appointment", consultation_path(appointment), method: :delete, data: { confirm: "Are you sure you want to delete this consultation?" }, :class => "consultation-delete-link" %></p>
						</div>
					</div>	
				<% end %>
			</div>
		<% end %>

		<h1> Appointment Requests </h1>

		<% if @appointment_requests == [] %>
			<p>You have no appointment requests.</p>
		<% else %>
			<div class="row">
				<% @appointment_requests.each do |appointment| %>
					<div class="panel panel-default col-md-6">
						<div class="panel-heading">
							<h3><%= appointment.tool %></h3>
						</div>
						<div class="panel-body">
							<p><b>Doctor:</b> <%= get_doctor_name appointment.professional %></p>
							<p><b>Date: </b><%= appointment.date_and_time.to_date.to_formatted_s(:long) %></p>
							<p><b>Time: </b><%= appointment.date_and_time.strftime("%I:%M %p") %></p>

							<p class="consultation-delete"><%= link_to "cancel appointment request", consultation_path(appointment), method: :delete, data: { confirm: "Are you sure you want to cancel this consultation request?" }, :class => "consultation-delete-link" %></p>
						</div>
					</div>	
				<% end %>
			</div>
		<% end %>


		<h1>Past Appointments</h1>

		<% if @past_appointments == [] %>
			<p>You have no past appointments. <a href="/consultation/type">Book your first consultation on Doctoora today</a></p>
		<% else %>
			<div class="row">
				<% @past_appointments.each do |appointment| %>
					<div class="panel panel-default col-md-6">
						<div class="panel-heading">
							<h3><%= appointment.tool %></h3>
						</div>
						<div class="panel-body">
							<p><b>Doctor:</b> <%= get_doctor_name appointment.professional %></p>
							<p><b>Date: </b><%= appointment.date_and_time.to_date.to_formatted_s(:long) %></p>
							<p><b>Time: </b><%= appointment.date_and_time.strftime("%I:%M %p") %></p>
						</div>
					</div>	
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="row">
		<h1>Trending Topics</h1>
		<div class="row">
			<h4 style="margin-left: 2em">View by Category: </h4>
			<% @card_categories.each do |category| %>
				<div class="col-md-3">
					<%= link_to category.name, show_card_category_path(category) %>
				</div>
			<% end %>
		</div>
		<% @cards.each do |card| %>
			<div class="panel panel-body col-md-4">
				<a href=<%= card.link %>>
					<img src=<%= card.image %> class="card-image" />
					<h3><%= card.title %></a></h3>
				</a>
				<p><%= card.body %></p>
			</div>
		<% end %>
	</div>
<% elsif doctor_signed_in? %>
	<% if !current_doctor.verified %>
		<div>
			<p>Your application is being verified and you will be notified soon.</p>

			<p><%= link_to "view profile", doctor_profile_path(current_doctor) %></p>
			<p><%= link_to "edit certificates", doctor_onboarding_new_upload_documents_path %></p>
		</div>
	<% else %>
		<div>
			<h4>Your Wallet Balance: <span id="doc_wallet_balance">₦<%= number_with_delimiter(@wallet_balance, :delimiter => ',') %></span> <%= link_to "Top Up Wallet", top_up_path(@doctor) %></h4>
		</div>
		<div>
			<h1>Today's Confirmed Appointments</h1>
			<% if @upcoming_appointments == [] %>
				<p>You have no appointments scheduled for today. <a href="/doctor_consultation">View your calendar.</a></p>
			<% else %>
				<div class="row">
					<% @upcoming_appointments.each do |appointment| %>
						<div class="panel panel-default col-md-6">
							<div class="panel-heading">
								<h3><%= get_patient_name appointment.user_id %></h3>
							</div>
							<div class="panel-body">
								<p><b>Tool:</b> <%= appointment.tool %></p>
								<p><b>Date: </b><%= appointment.date_and_time.to_date.to_formatted_s(:long) %></p>
								<p><b>Time: </b><%= appointment.date_and_time.strftime("%I:%M %p") %></p>

								<p class="consultation-delete"><%= link_to "cancel appointment", consultation_path(appointment), method: :delete, data: { confirm: "Are you sure you want to delete this consultation?" }, :class => "consultation-delete-link" %></p>
							</div>
						</div>	
					<% end %>
				</div>
			<% end %>

			<% if !@appointment_requests.empty? %>
				<h1>Pending Appointment Requests</h1>
				<div class="row">
					<% @appointment_requests.each do |request| %>
						<div class="panel panel-default col-md-6">
							<div class="panel-heading">
								<h3><%= get_patient_name request.user_id %></h3>
							</div>
							<div class="panel-body">
								<p><b>Tool:</b> <%= request.tool %></p>
								<p><b>Date: </b><%= request.date_and_time.to_date.to_formatted_s(:long) %></p>
								<p><b>Time: </b><%= request.date_and_time.strftime("%I:%M %p") %></p>
								<div>
									<p><span><%=link_to "approve", accept_consultation_path(request.id), method: :post %></span>  <span><%= link_to "reject", reject_consultation_path(request.id), method: :post %></span></p>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>

			<% if !@past_appointments.empty? %>
				<h1> Past Appointments </h1>
				<div class="row">
					<% @past_appointments.each do |appointment | %>
						<div class="panel panel-default col-md-6">
							<div class="panel-heading">
								<h3><%= get_patient_name appointment.user_id %></h3>
							</div>
							<div class="panel-body">
								<p><b>Tool:</b> <%= appointment.tool %></p>
								<p><b>Date: </b><%= appointment.date_and_time.to_date.to_formatted_s(:long) %></p>
								<p><b>Time: </b><%= appointment.date_and_time.strftime("%I:%M %p") %></p>
							</div>
							<% if !appointment.patient_reviews.empty? %>
								<%= link_to "view consultation review", patient_review_path(appointment.patient_reviews.first.id) %>
							<% else %>
								<%= link_to "review this consultation", new_user_patient_review_path(appointment.user_id, appointment.id) %>
							<% end %>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>

		<div class="row">
			<h1> Trending Topics </h1>
			<div class="row">
			<h4 style="margin-left: 1em">View by Category: </h4>
			<% @card_categories.each do |category| %>
				<div class="col-md-3">
					<%= link_to category.name, show_card_category_path(category) %>
				</div>
			<% end %>
			</div>
			<% @cards.each do |card| %>
				<div class="panel panel-body col-md-4">
					<a href=<%= card.link %>>
						<img src=<%= card.image %> class="card-image" />
						<h3><%= card.title %></a></h3>
					</a>
					<p><%= card.body %></p>
				</div>
			<% end %>
		</div>
	<% end %>
<% elsif admin_signed_in? %>
	<div>
		<h1>Welcome, Admin</h1>

		<h4><%= link_to "Notifications (#{@admin_notifications_count})", admin_notifications_path %></h4>
		<br>
		<p><%= link_to "Verify Health Professionals", verify_doctors_path %></p>
		<p><%= link_to "Products", admin_plans_path %></p>
		<p><%= link_to "Product Categories", admin_product_categories_path %></p>

		<p><%= link_to "View Patients", admin_patients_view_path %></p>
		<p><%= link_to "View Health Professionals", admin_doctors_view_path %></p>

		<p><%= link_to "Clinics", clinics_path %></p>
		<p><%= link_to "Cards", cards_path %></p>
		<p><%= link_to "Card Categories", admin_card_categories_path %></p>

		<p><%= link_to "Insurance Providers", admin_insurance_providers_path %></p>
		<p><%= link_to "Pending Insurance Payments", admin_insurance_path %></p>

		<p><%= link_to "Clinic Rentals", admin_clinic_rentals_path %></p>

		<p><%= link_to "Admin Sign Out", destroy_admin_session_path, method: :delete %></p>
	</div>
<% else %>
	<div class="col-md-4 col-md-offset-2">
		<div>
			<a href="/"><img src="/logo.png" id="home-logo"/></a>
		</div>
		<%= link_to "Log in as a patient", new_user_session_path, :class => "access-link" %><br />
		<%= link_to "Log in as a professional", new_doctor_session_path, :class => "access-link" %><br />
		<%= link_to "Sign up as a patient", new_user_registration_path, :class => "access-link" %><br />
		<%= link_to "Sign up as a professional", new_doctor_registration_path, :class => "access-link" %><br />
		<br />
		<br />
    	<%= link_to "Forgot your password?", new_user_password_path %>
	</div>
<% end %>