<div class="col-md-6 col onboarding-form">

	<h2>Let's build a profile</h2>

	<%= form_for @doctor, url: doctor_onboarding_index_path, html: { multipart: true }, method: :post do |f| %>
			
		<div class="form-group">
			<%= f.label :date_of_birth, :class => "control-label" %>
			<%= f.date_select :dob, :start_year => Date.current.year, :end_year => 1920, :class => "form-control"%>
		</div>

		<div class="form-group">
			<%= f.label :gender, :class => "control-label" %>
			<%= f.select :gender, ["Male", "Female"], :class => "form-control"%>
		</div>

		<div class="form-group">
			<%= f.label :ethnicity, :class => "control-label" %>
			<%= f.select :ethnicity, ["Black", "Asian", "Caucasian", "Latin American", "Other"], :class => "form-control"%>
		</div>

		<div class="form-group">
			<%= f.label :specialization, :class => "control-label" %>
			<%= f.select :specialization, ["Clinical", "Non-Clinical"], :class => "form-control"%>
		</div>

		<div class="specialty-group">
			<div class="form-group non_clinical_specialty_list">
				<%= f.label :specialty, :class => "control-label" %>
				<%= f.select :specialty, @non_clinical_specialty_list, :class => "form-control"%>
			</div>

			<div class="form-group clinical_specialty_list">
				<%= f.label :specialty, :class => "control-label" %>
				<%= f.select :specialty, @clinical_specialty_list, :class => "form-control"%>
			</div>
		</div>

		<div class="form-group">
			<%= f.label "Annual Registration Fee", :class => "control-label" %>
			<p>Rates you will charge patients who register you on their Care Team per annum</p>
			<%= f.text_field :registration_fee, :class => "form-control", :placeholder => "₦" %>
		</div>

		<div class="form-group">
			<%= f.label :video_consultation_fee, :class => "control-label" %>
			<p>Rates you will charge patients who book a video consultation with you</p>
			<%= f.text_field :video_consultation_fee, :class => "form-control", :placeholder => "₦" %>
		</div>

		<div class="form-group">
			<%= f.label :home_consultation_fee, :class => "control-label" %>
			<p>Rates you will charge patients who book a home consultation with you</p>
			<%= f.text_field :home_consultation_fee, :class => "form-control", :placeholder => "₦" %>
		</div>

		<div class="form-group">
			<%= f.label :clinic_visit_fee, :class => "control-label" %>
			<p>Rates you will charge patients who consult with you in a clinic</p>
			<%= f.text_field :clinic_visit_fee, :class => "form-control", :placeholder => "₦" %>
		</div>

		<h3>Location</h3>

		<div class="form-group">
			<%= f.label "House Address", :class => "control-label" %>
			<%= f.text_field :house, :class => "form-control"%>
		</div>

		<div class="form-group">
			<%= f.label :town, :class => "control-label" %>
			<%= f.select :town, @lgas, :class => "form-control", :placeholder => "Required", :required => true %>
		</div>

		<div class="form-group">
			<%= f.label :country, :class => "control-label" %>
			<%= f.country_select :country%>
		</div>

		<div class="form-group">
			<%= f.label "Upload an image of yourself (>10mb)", :class => "control-label" %>
			<%= f.file_field :avatar, :class => "form-control" %>
		</div>

		<div class="large-size">
		</div>

		<%= f.submit "Continue", :class => "btn btn-primary" %>
	<% end %>
</div>

<script>
	var c = $('.clinical_specialty_list').detach();
	var nc = $('.non_clinical_specialty_list').detach();

	$('input:file').change(function(){
		var file = this.files[0];
			if(file.size > 10000000){
				$('.large-size').html('<p class="notice">Your profile image cannot be larger than 10mb. Please choose a smaller image</p>')
				$(':input[type="submit"]').prop('disabled', true);
			} else {
				$('.notice').remove();
				$(':input[type="submit"]').prop('disabled', false);
			}
	});

	if($('#doctor_specialization').val() == "Clinical"){
		$('.non_clinical_specialty_list').detach();
		$('.specialty-group').append(c);
	} else {
		$('.clinical_specialty_list').detach();
		$('.specialty-group').append(nc);
	}

	$('#doctor_specialization').change(function(){
		if($(this).val() == "Non-Clinical"){
			$('.specialty-group').append(nc);
			c = $('.clinical_specialty_list').detach();
    	} else if($(this).val() == "Clinical") {
    		$('.specialty-group').append(c);
    		nc = $('.non_clinical_specialty_list').detach();
		}
	})
</script>