<div class="col-md-6 onboarding-form center">

	<h2>Upload Your Documents - PDFs only</h2>

	<h3 style="color: red">Please Note: It is advisable to upload your documents in PDF format to
	prevent any delays with processing them</h3>

	<%= form_for @doctor, url: doctor_onboarding_create_path, method: :post do |f| %>

		<div class="form-group">
			<%= f.label "Professional Certification (Annual Practice License/MDCN License)", :class => "control-label" %>
			<%= f.file_field :mdcn, :class => "form-control", :required => true %>
		</div>

		<div class="form-group">
			<%= f.label "NYSC Certificate", :class => "control-label" %>
			<%= f.file_field :nysc, :class => "form-control", :required => true %>
		</div>

		<div class="form-group">
			<%= f.label "University Certificate", :class => "control-label" %>
			<%= f.file_field :uni_cert, :class => "form-control", :required => true %>
		</div>

		<div class="form-group">
			<%= f.label "Proof of Identity", :class => "control-label" %>
			<%= f.file_field :id_proof, :class => "form-control", :required => true %>
		</div>

		<p><i>All fields are required</i></p>
		<p>If you are having problems uploading your documents, please email us at <b><a href="mailto:info@doctoora.com.ng">info@doctoora.com.ng</a></b></p>

		<%= link_to "Exit", root_path, :class => "btn btn-primary" %>
		<%= f.submit "Continue to complete", :class => "btn btn-primary" %>

	<% end %>

</div>
