<% if @doctor.verified %>
	<div class="profile">

		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Me</th>
						<% if my_doctor_profile? %>
							<th><%= link_to "edit", edit_doctor_profile_path(current_doctor.id) %></th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Name</td>
						<td><%= doctor.title %> <%= @doctor.first_name %> <%= @doctor.last_name %></td>
					</tr>
					<tr>
						<td>Gender</td>
						<td><%= @doctor.gender %></td>
					</tr>
					<tr>
						<td>Date of birth</td>
						<td><%= @doctor.dob %></td>
					</tr>
					<tr>
						<td>Ethnicity</td>
						<td><%= @doctor.ethnicity %></td>
					</tr>
					<tr>
						<td>Specialization</td>
						<td><%= @doctor.specialization %></td>
					</tr>
					<tr>
						<td>Specialty</td>
						<td><%= @doctor.specialty %></td>
					</tr>
					<tr>
						<td>Location</td>
						<td><%= @doctor.town %></td>
					</tr>
				</tbody>
			</table>
		</div>

		<%= link_to "Edit Doctor Profile" , edit_doctor_profile_path(current_doctor.id) if my_doctor_profile? %>
	</div>
<% end %>

<div>
	<h3>Credentials</h3>
	<p>MDCN Annual Practicing License: <%= doc_file_uploaded? @doctor.mdcn_file_name %></p>

	<p>NYSC Certificate: <%= doc_file_uploaded? @doctor.nysc_file_name %></p>

	<p>University Certificate: <%= doc_file_uploaded? @doctor.uni_cert_file_name %></p>

	<p>Post-NYSC Years of Experience: <%= doc_file_uploaded? @doctor.post_nysc_file_name %></p>

	<p>Proof of Identity: <%= doc_file_uploaded? @doctor.id_proof_file_name %></p>

	<%= link_to "Edit Certificates", doctor_onboarding_new_upload_documents_path if my_doctor_profile? %>
</div>