<div class="center">

<div class="well">
<% if @doctor.verified %>
	<div class="profile">

		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<% if my_doctor_profile? %>
							<th><%= link_to "edit", edit_doctor_profile_path(current_doctor.id) %></th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Name</td>
						<td><%= @doctor.title %> <%= @doctor.first_name %> <%= @doctor.last_name %></td>
					</tr>
					<tr>
						<td>Gender</td>
						<td><%= @doctor.gender %></td>
					</tr>
					<tr>
						<td>Date of birth</td>
						<td><%= @doctor.dob %></td>
					</tr>
					<tr>
						<td>Ethnicity</td>
						<td><%= @doctor.ethnicity %></td>
					</tr>
					<tr>
						<td>Specialization</td>
						<td><%= @doctor.specialization %></td>
					</tr>
					<tr>
						<td>Specialty</td>
						<td><%= @doctor.specialty %></td>
					</tr>
					<tr>
						<td>LGA</td>
						<td><%= @doctor.town %></td>
					</tr>
					<tr>
						<td>State</td>
						<td><%= @doctor.state %></td>
					<tr>
						<td>Registration Fee</td>
						<td>₦<%= @doctor.registration_fee %></td>
					</tr>
					<tr>
						<td>Home Consultation Fee</td>
						<td>₦<%= @doctor.home_consultation_fee %></td>
					</tr>
					<tr>
						<td>Video Consultation Fee</td>
						<td>₦<%= @doctor.video_consultation_fee %></td>
					</tr>
					<tr>
						<td>Clinic Visit Fee</td>
						<td>₦<%= @doctor.clinic_visit_fee %></td>
					</tr>
				</tbody>
			</table>
		</div>

		<%= link_to "Edit Professional Profile" , edit_doctor_profile_path(current_doctor.id) if my_doctor_profile? %>
	</div>

	<div>
		<h3>Health Provider Average Ratings</h3>

		<div class="panel panel-body">
			<h4>Overall: <span class="orange"><%= @overall %></span></h4>
		</div>

		<div class="panel panel-body">
			<h5> Explanation Clarity: <span class="orange"><%= @explanation_clarity %></span> </h5>
		</div>

		<div class="panel panel-body">
			<h5> Courtesy: <span class="orange"><%= @courtesy %></span></h5>
		</div>

		<div class="panel panel-body">
			<h5> Listening: <span class="orange"><%= @listening %></span></h5>
		</div>

		<div class="panel panel-body">
			<h5> Punctuality: <span class="orange"><%= @punctuality %></span></h5>
		</div>
	</div>

	<div>
		<h3>Credentials</h3>
		<p>Professional Certificate (Annual Practice License/MDCN License): <%= verified_doc_file_uploaded? @doctor.mdcn_file_name %></p>

		<p>NYSC Certificate: <%= verified_doc_file_uploaded? @doctor.nysc_file_name %></p>

		<p>University Certificate: <%= verified_doc_file_uploaded? @doctor.uni_cert_file_name %></p>

		<p>Proof of Identity: <%= verified_doc_file_uploaded? @doctor.id_proof_file_name %></p>

		<%= link_to "Edit Certificates", doctor_onboarding_new_upload_documents_path if my_doctor_profile? %>
	</div>
<% else %>

	<div>
		<h3>Credentials</h3>
		<p>Professional Certificate (Annual Practice License/MDCN License): <%= doc_file_uploaded? @doctor.mdcn_file_name %></p>

		<p>NYSC Certificate: <%= doc_file_uploaded? @doctor.nysc_file_name %></p>

		<p>University Certificate: <%= doc_file_uploaded? @doctor.uni_cert_file_name %></p>

		<p>Proof of Identity: <%= doc_file_uploaded? @doctor.id_proof_file_name %></p>

		<%= link_to "Edit Certificates", doctor_onboarding_new_upload_documents_path if my_doctor_profile? %>
	</div>

<% end %>

</div>
</div>
