<%= link_to "Back to Home Page", root_path %>
<h2> <%= @category.name %></h2>

<div>
	<% @cards.each do |card| %>
		<div class="panel panel-body">
			<a href=<%= card.link %>>
				<img src=<%= card.image %> class="card-image" />
				<h3><%= card.title %></a></h3>
			</a>
			<p><%= card.body %></p>
			<br>
		</div>
	<% end %>
</div>