<div class="col-md-6 col-md-offset-1 onboarding-form">

	<h2>Let's talk a little bit more about your health</h2>

	<%= form_for @user, url: onboarding_create_path, method: :post do |f| %>
			
		<div class="form-group">
			<%= f.label :conditions, :class => "control-label" %>
			<%= f.text_area :conditions, :class => "form-control", :placeholder => "Do you have any pre-existing medical conditions?"%>
		</div>

		<div class="form-group">
			<%= f.label :allergies, :class => "control-label" %>
			<%= f.text_area :allergies, :class => "form-control", :placeholder => "Do you suffer from any allergies?"%>
		</div>

		<div class="form-group">
			<%= f.label :medication, :class => "control-label" %>
			<%= f.text_area :medication, :class => "form-control", :placeholder => "Are you currently receiving any medication?"%>
		</div>

		<h3>Lifestyle</h3>

		<div class="form-group">
			<%= f.label "Diet", :class => "control-label" %>
			<%= f.select :dietary_restrictions, ["Meat", "Fish", "Vegetarian"], :class => "form-control"%>
		</div>

		<div class="form-group">
			<%= f.label "Alcohol Drinking", :class => "control-label" %>
			<%= f.select :alcohol_consumption, ["Daily", "Once a week", "Socially", "Never"], :class => "form-control"%>
		</div>

		<div class="form-group">
			<%= f.label "Recreational Drug Use", :class => "control-label" %>
			<%= f.select :recreational_drug, ["Often", "Sporadically", "Rarely", "Never"], :class => "form-control"%>
		</div>

		<div class="form-group">
			<%= f.label "Smoking", :class => "control-label" %>
			<%= f.select :tobacco, [">5 sticks per day", "1-5 sticks per day", "Socially", "Never"], :class => "form-control"%>
		</div>

		<div class="form-group">
			<%= f.label "Exercise", :class => "control-label" %>
			<%= f.select :exercise, ["Daily", "1-3 times per week", "Rarely", "Never"], :class => "form-control"%>
		</div>

		<%= link_to "Skip", root_path %>
		<%= link_to "Back", url_for(:back) %>

		<%= f.submit "Submit", :class => "btn btn-primary" %>

	<% end %>

</div>