<div class="col-md-6 onboarding-form">

	<h2>Let's build a profile</h2>

	<%= form_for @user, url: onboarding_index_path, html: { multipart: true }, method: :post do |f| %>
			
		<div class="form-group">
			<%= f.label :date_of_birth, :class => "control-label" %>
			<%= f.date_select :dob, :start_year => Date.current.year, :end_year => 1920, :class => "form-control"%>
		</div>

		<div class="form-group">
			<%= f.label :gender, :class => "control-label" %>
			<%= f.select :gender, ["Male", "Female"], :class => "form-control"%>
		</div>

		<div class="form-group">
			<%= f.label :ethnicity, :class => "control-label" %>
			<%= f.select :ethnicity, ["Black", "Asian", "Caucasian", "Latin American", "Other"], :class => "form-control"%>
		</div>

		<div class="form-group">
			<%= f.label :phone_number, :class => "control-label" %>
			<%= f.text_field :phone, :class => "form-control", :placeholder => "Format: 08012345678. We will only show this to health professionals for consultation purposes" %>
		</div>

		<h3>Location</h3>

		<div class="form-group">
			<%= f.label "House Address", :class => "control-label" %>
			<%= f.text_field :house, :class => "form-control"%>
		</div>

		<div class="form-group">
			<%= f.label :country, :class => "control-label" %>
			<%= f.country_select :country, priority_countries: ["NG"] %>
		</div>

		<div class="form-group">
			<%= f.label :state, :class => "control-label" %>
			<%= f.select :state, @states, :class => "form-control", :placeholder => "Required", :required => true %>
		</div>

		<div class="form-group">
			<%= f.label "Local Government Area", :class => "control-label" %>
			<%= f.select :town, @lgas, :class => "form-control", :placeholder => "Required" %>
		</div>

		<h3> Health Profile </h3>

		<div class="form-group">
			<%= f.label :height, :class => "control-label" %>
			<%= f.select :height, [1.52, 1.55, 1.57, 1.60, 1.63, 1.65, 1.68, 1.70, 1.73, 1.75, 1.78, 1.80, 1.83, 1.85, 1.88, 1.90, 1.93, 1.96, 1.98, 2.00, 2.03, 2.06, 2.08, 2.11, 2.13, 2.16, 2.18], :class => "form-control" %> metres
			<p id="h-conv-chart">Height Conversion Chart</a>
		</div>

		<div class="height-conv-chart">
			<table>
				<thead>
					<tr>
						<th><u>ft'in</u></th>
						<th><u>metres</u></th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>5'0</td>
						<td>1.52</td>
					</tr>
					<tr>
						<td>5'1</td>
						<td>1.55</td>
					</tr>
					<tr>
						<td>5'2</td>
						<td>1.57</td>
					</tr>
					<tr>
						<td>5'3</td>
						<td>1.60</td>
					</tr>
					<tr>
						<td>5'4</td>
						<td>1.63</td>
					</tr>
					<tr>
						<td>5'5</td>
						<td>1.65</td>
					</tr>
					<tr>
						<td>5'6</td>
						<td>1.68</td>
					</tr>
					<tr>
						<td>5'7</td>
						<td>1.70</td>
					</tr>
					<tr>
						<td>5'8</td>
						<td>1.73</td>
					</tr>
					<tr>
						<td>5'9</td>
						<td>1.75</td>
					</tr>
					<tr>
						<td>5'10</td>
						<td>1.78</td>
					</tr>
					<tr>
						<td>5'11</td>
						<td>1.80</td>
					</tr>
					<tr>
						<td>6'0</td>
						<td>1.83</td>
					</tr>
					<tr>
						<td>6'1</td>
						<td>1.85</td>
					</tr>
					<tr>
						<td>6'2</td>
						<td>1.88</td>
					</tr>
					<tr>
						<td>6'3</td>
						<td>1.90</td>
					</tr>
					<tr>
						<td>6'4</td>
						<td>1.93</td>
					</tr>
					<tr>
						<td>6'5</td>
						<td>1.96</td>
					</tr>
					<tr>
						<td>6'6</td>
						<td>1.98</td>
					</tr>
					<tr>
						<td>6'7</td>
						<td>2.00</td>
					</tr>
					<tr>
						<td>6'8</td>
						<td>2.03</td>
					</tr>
					<tr>
						<td>6'9</td>
						<td>2.06</td>
					</tr>
					<tr>
						<td>6'10</td>
						<td>2.08</td>
					</tr>
					<tr>
						<td>6'11</td>
						<td>2.11</td>
					</tr>
					<tr>
						<td>7'0</td>
						<td>2.13</td>
					</tr>
					<tr>
						<td>7'1</td>
						<td>2.16</td>
					</tr>
					<tr>
						<td>7'2</td>
						<td>2.18</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="form-group">
			<%= f.label :weight, :class => "control-label" %>
			<%= f.text_field :weight, :class => "form-control", :placeholder => "in kg" %>
		</div>

		<h3>Vaccinations</h3>
		<p>Tick all vaccinations received</p>

		<div class="form-group">
			<div class="row">
				<div class="col-md-4">
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Anthrax", nil %>
						<%= f.label "Anthrax", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Chicken Pox", nil %>
						<%= f.label "Chicken Pox", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Cholera", nil %>
						<%= f.label "Cholera", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Dengue Fever", nil %>
						<%= f.label "Dengue Fever", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "DTP", nil %>
						<%= f.label "DTP (Diphtheria, Tetanus, Pertussis)", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Hepatitis A", nil %>
						<%= f.label "Hepatitis A", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Hepatitis B", nil %>
						<%= f.label "Hepatitis B", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Hepatitis E", nil %>
						<%= f.label "Hepatitis E", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Human Papilloma-Virus", nil %>
						<%= f.label "Human Papilloma-Virus", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Influenza", nil %>
						<%= f.label "Influenza", :class => "control-label" %>
					</p>
				</div>
				<div class="col-md-4">
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Japanese Encephalitis", nil %>
						<%= f.label "Japanese Encephalitis", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Malaria", nil %>
						<%= f.label "Malaria", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Meningococcal Disease", nil %>
						<%= f.label "Meningococcal Disease", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "MMR", nil %>
						<%= f.label "MMR (Measles, Mumps, Rubella)", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Pneumococcal Disease", nil %>
						<%= f.label "Pneumococcal Disease", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Poliomyelitis", nil %>
						<%= f.label "Poliomyelitis", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Q Fever", nil %>
						<%= f.label "Q Fever", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Rabies", nil %>
						<%= f.label "Rabies", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Rotavirus Gastroenteritis", nil %>
						<%= f.label "Rotavirus Gastroenteritis", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Rubella", nil %>
						<%= f.label "Rubella", :class => "control-label" %>
					</p>
				</div>
				<div class="col-md-4">
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Smallpox", nil %>
						<%= f.label "Smallpox", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Tetanus Toxiod Booster", nil %>
						<%= f.label "Tetanus Toxiod Booster", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Tick-borne Encephalitis", nil %>
						<%= f.label "Tick-borne Encephalitis", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Tuberculosis", nil %>
						<%= f.label "Tuberculosis", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Typhoid Fever", nil %>
						<%= f.label "Typhoid Fever", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Varicella and Herpes Zoster (Shingles)", nil %>
						<%= f.label "Varicella and Herpes Zoster (Shingles)", :class => "control-label" %>
					</p>
					<p>
						<%= f.check_box :vaccinations, {:multiple => true}, "Yellow fever", nil %>
						<%= f.label "Yellow fever", :class => "control-label" %>
					</p>
				</div>
			</div>
		</div>

		<div class="form-group">
			<%= f.label "Upload an image of yourself (>10mb)", :class => "control-label" %>
			<%= f.file_field :avatar, :class => "form-control" %>
		</div>

		<div class="large-size">
		</div>

		<%= f.submit "Continue", :class => "btn btn-primary" %>
	<% end %>
</div>

<script>
	$('input:file').change(function(){
		var file = this.files[0];
			if(file.size > 10000000){
				$('.large-size').html('<p class="notice">Your profile image cannot be larger than 10mb. Please choose a smaller image</p>')
				$(':input[type="submit"]').prop('disabled', true);
			} else {
				$('.notice').remove();
				$(':input[type="submit"]').prop('disabled', false);
			}
	});

	$('#h-conv-chart').click(function(){
		$('.height-conv-chart').toggle();
	})
</script>