<div>
	<% if user_signed_in? %>
		<%= link_to "Back to profile", profile_path(@user) %>
	<% elsif doctor_signed_in? %>
		<%= link_to "Back to profile", doctor_profile_path(@user) %>
	<% end %>
</div>

<div class="wallet">
	<h4 class="wallet-header"> Your Wallet </h4>
	<p>Wallet Balance: </p>
		<h1 id="doc_wallet_balance">₦ <%= @user.wallet.balance %></h1>
</div>

	<div class="col-md-4" style="margin-left: 0">
		<h4>Top Up Your Wallet</h4>
		<%= form_for @transaction, url: top_up_path(@user), method: :post do |f| %>
			<div class="form-group">
				<%= f.text_field :amount, :class => "form-control", :placeholder => "₦" %>
				<%= f.hidden_field :purpose, value: :topup %>
				</br>
				<%= f.submit "Top Up", :class => "btn btn-primary" %>
			</div>
		<% end %>
	</div>
