<div class="row">
	<h4>Filter by Category:</h4>
	<% @categories.each do |category| %>
		<div class="col-md-3">
			<%= link_to category.name, view_product_category_path(category) %>
		</div>
	<% end %>
</div>

<% if doctor_signed_in? %>
	<div style="margin-bottom: 2em">
		<%= link_to "Rent clinic time", plans_clinics_path, :class => "btn btn-block btn-primary" %>
	</div>
<% end %>

<div>
	<% @plans.each do |plan| %>
		<div class="col-md-6 panel panel-default">
			<img src=<%= plan.image %> width="200px"/>
			<h4><%= plan.title %></h4>
			<p><%= plan.description %></p>
			<p>₦<%= plan.price %></p>
			<%= link_to "Buy Item", purchase_plan_path(plan) %>
		</div>
	<% end %>
</div>